.NavBarContainer{
    text-align: center;
    z-index: -10000;
    width: 100%;
    top: 0px;
}
.HomeRouteContainer{
    padding: 10px ;
    justify-content: space-between ;
}
.NavLink{
    margin: 20px;
    justify-content: space-between; 
}

