.LoginPage {
  text-align: center;
}
.FooterInfoContainer{
  display:flex;
  position: fixed;
  text-align: center;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 100%;

}
.InfoItem{
  padding: 10px;
}