.LoginPage {
  text-align: center;
}
.FooterInfoContainer{
  display:flex;
  position: fixed;
  text-align: center;
  align-items: center;
  justify-content: center;
  bottom: 0;
  background-color: red;
  width: 98%;

}
.InfoItem{
  padding: 20px;
  
}
.HomeContainer{
  

  
}