.PositionContainer {
  display: flex;
  width: 105%;
  margin: 15px;
  justify-content:space-around;
}
.PositionData{
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    
}
.PositionDataContainer{
    display: flex;
    justify-content:space-around;
    
}
.PositionsContainer{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 30px;
    width: 95%;

  }
