.PositionContainer {
  display: flex;
  margin: 20px;
  margin-top: 40px;
  border : 1px solid #b3b3b3;
    margin: 15px;
    align-items: center;
    justify-content: center;
}
.PositionData{
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    
}
.PositionDataContainer{
    display: flex;
    justify-content:space-between;
}
