@import 'bootstrap/dist/css/bootstrap.min.css';

.FooterInfoContainer {
  display: flex;
  position: fixed;
  text-align: center;
  align-items: center;
  justify-content: center;
  bottom: 0;
  margin-top: 15px;
  width: 98.7%;
}
.InfoItem {
  padding: 20px;
}
.Box {
  height: 125px;
  width: 95%;
  margin: 15px;
}
.DataBox {
  width: 95%;
  margin: 15px;
}
.DataContainer {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}
.TextDataContainer{
  display: flex;
  justify-content: space-around;
  padding: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 15px;
  opacity: 1;
}
.Header{
  width: 30%;
  padding: 10%;
  display: flex;
  text-align: center;
  justify-content: center;
  color: grey;
}
.PageContainer{
  display: flex; 
  flex-direction: column;

  align-items: center;

}
.FormDataContainer {
  display: flex;
  align-items: center;
  padding: 30px;
  justify-content: center;
}
.Text {
  margin-top: 1%;
  width: 70%;
}
.Input {
  border: 2px solid #b3b3b3;
  border-radius: 5px;
  opacity: 1;
  text-align: center;
}
.InputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 3px;
  margin-top: 0;
}

.Submit {
  border: 2px solid #b3b3b3;
  transition-duration: 0.4s;
  width: 150px;
  background-color: #b3b3b3 ;
}
.Submit:hover {
  background-color: white;
  color: black;
}
.Margin {
  margin: 15px;
}
.Center {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.SelectContainer {
  border: 2px solid #b3b3b3;
  border-radius: 5px;
  opacity: 1;
  text-align: center;
}
